<!DOCTYPE html>
<html>
<head>
  <title>Date</title>
</head>
<body>
  <p><%= "The date is #{Date.today.strftime("%A")}, #{Date.today.strftime("%B")} #{Date.today.strftime("%d")}, #{Date.today.strftime("%Y")}." %></p>
</body>
</html>
